.container {
    position: absolute;
    margin-left: 28%;
    margin-top: 1%;
    border-radius: 5px;
    border: 2px solid #4b0082;
}

.mat-card-title {
    -webkit-text-stroke: 1px #4b0082;
    color: white;
    font-size: xx-large;
    font-family: "Courier New", Courier, monospace;
}

.mat-form-field {
    width: 65%;
    border: 100px;
}

@media only screen and (max-width: 600px) {
    .mat-card {
      width: 70%;
      border-radius: 25px;
      border: 2px solid #4b0082;
      position: absolute;
      margin-top: 10%;
      margin-left: 10%;
      top: 25%;
    }
}