$indigocolor: #4b0082;

.mat-card {
  width: 30%;
  border-radius: 25px;
  border: 2px solid $indigocolor;
  position: absolute;
  top: 30%;
}

.column1 {
  width: 50%;
  float: left;
}

.column2 {
  width: 50%;
  float: right;
}

.mat-card-title {
  -webkit-text-stroke: 1px $indigocolor;
  color: white;
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
}

img {
  width: 15%;
  position: absolute;
  top: 33%;
  left: 18%;
}

.mat-form-field {
  width: 65%;
  border: 100px;
  margin-left: 17%;
}

@media only screen and (max-width: 600px) {
  .mat-card {
    width: 70%;
    border-radius: 25px;
    border: 2px solid $indigocolor;
    position: absolute;
    margin-left: 10%;
    top: 25%;
  }

  img {
    width: 30%;
    position: absolute;
    top: 3%;
    left: 35%;
  }

  .column1 {
    width: 100%;
    float: left;
  }

  .column2 {
    width: 100%;
    float: right;
  }
}
