<div class="cardconfig">
    <div class="center">
        <mat-card>
            <mat-card-header>
              <mat-card-title>Actualizar Examen</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <mat-form-field style="width: 500px;">
                        <mat-label>Titulo: </mat-label>
                        <mat-icon matSuffix>assignment</mat-icon>
                        <input matInput>
                    </mat-form-field>
                </p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="actualizar()">Actualizar</button>
                <button mat-raised-button (click)="cancelacion()">Cancelar</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>