<div class="cardconfig">
    <div class="center">
        <mat-card>
            <mat-card-header>
              <mat-card-title>Actualizar Tarea</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <mat-form-field style="width: 500px;">
                        <mat-label>Titulo: </mat-label>
                        <mat-icon matSuffix>assignment</mat-icon>
                        <input matInput [(ngModel)]="tarea.nombre_tarea">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field style="width: 500px">
                        <mat-label>Descripcion: </mat-label>
                        <mat-icon matSuffix>list</mat-icon> 
                        <textarea matInput
                        cdkTextareaAutosize
                        #cfcAutosize="cdkTextareaAutosize"
                        cdkAutosizeMaxRows="12"
                        [(ngModel)]="tarea.descripcion">
                        </textarea>
                      </mat-form-field>
                </p>
                <p>
                  <mat-form-field style="width: 500px;">
                    <mat-label>Fecha de entrega: </mat-label>
                    <input matInput type="date" [(ngModel)]="tarea.fecha_entrega">
                  </mat-form-field>
                </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="actualizar()">Actualizar</button>
              <button mat-raised-button (click)="cancelacion()">Cancelar</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>