.cardconfig {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 2px solid #4b0082;
}

.mat-card-title {
    -webkit-text-stroke: 1px #4b0082;
    color: white;
    font-size: xx-large;
    font-family: "Courier New", Courier, monospace;
}

.mat-form-field {
    width: 65%;
    border: 100px;
}

@media only screen and (max-width: 600px) {
    .mat-card {
      width: 70%;
      border-radius: 25px;
      border: 2px solid #4b0082;
      position: absolute;
      margin-left: 10%;
      top: 25%;
    }
}