<br>
<div class="titulo2">CALIFICACION DE TAREAS</div>
<br>
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Tareas Recibidas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel *ngFor="let item of lista_entregas; let index=index" [expanded]="step === index"
                (opened)="setStep(index)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{item.nombres}} {{item.apellidos}}
                    </mat-panel-title>
                    <mat-panel-description>
                        Ver Entrega
                        <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <mat-label>Nota</mat-label>
                    <input matInput type="number" min="1" [(ngModel)]='item.nota'>
                </mat-form-field>
                <mat-action-row>
                    <a href="{{item.url_tarea}}" target="_blank" mat-button>Descargar Tarea</a>
                    <button mat-button color="primary" (click)="actualizarNota(item.nota)">Actualizar nota</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>
<br>
<div class="padre">
    <button mat-raised-button (click)="regresar()" color="warn">Regresar</button>
</div>
<br>